In [35]:
# creation of list
a = []   # empty list
print(type(a))
b = list()
print(type(a))

<class 'list'>
<class 'list'>

In [36]:
list1 = [10,20,30,40,50]   # homogeneous list
print(list1)
color = ['blue','red','green','orange']
print(color)

[10, 20, 30, 40, 50]
['blue', 'red', 'green', 'orange']

In [37]:
student = [1,'Ram',78.15,True,1]   # heterogeneous list
print(student)

[1, 'Ram', 78.15, True, 1]

In [38]:
# nested list or list in list
list2 = [10,20,[6,'a',8.9],40]

# mutable -> change on element in list
print(list2[0])
print(list2[2])
list2[1] = 10
print(list2)

10
[6, 'a', 8.9]
[10, 10, [6, 'a', 8.9], 40]

In [39]:
list2[3] = 'x'
print(list2)

[10, 10, [6, 'a', 8.9], 'x']

In [40]:
# assignment
list3 = list1
print(id(list3))
print(id(list1))

2153090658880
2153090658880

In [41]:
# slicing
# slice operation create new sublist
# slice start:stop:step

list4 = list2[:]
print(id(list4))
print(id(list2))

2153090659712
2153090155840

In [42]:
L = [1,2,3,4,5,6]
# : -> simple slice; :: -> double slice
print(L[1:])
print(L[:3])
print(L[1:4])
print(L[0:5:2])

[2, 3, 4, 5, 6]
[1, 2, 3]
[2, 3, 4]
[1, 3, 5]

In [43]:
print(L[5:1:-2])
print(L[::-1])

[6, 4]
[6, 5, 4, 3, 2, 1]

In [44]:
L1 = L[:]
print(id(L))
print(id(L1))

2153083242688
2153082852224

In [45]:
L2 = [10,23,45,['a',76,5.6],90]
print(L2[3][0])
print(L2[3][1:3])

a
[76, 5.6]

In [46]:
# traverse a list
# literable and index
L3 = [89,12,34,'python']
for i in L3:  # list is literable
    print(i,end=' ')
print()
L4 = [10,20,[2,4,5],90]
for i in L4:
    print(i,end=' ')
print()    

# using list
for i in range(len(L3)):
    print(i,L3[i])
print()
for i in range(len(L4)):
    print(i,L4[i])
print()
for i in range(len(L4[2])):
    print(i,L4[2][i])

89 12 34 python
10 20 [2, 4, 5] 90
0 89
1 12
2 34
3 python

0 10
1 20
2 [2, 4, 5]
3 90

0 2
1 4
2 5

In [47]:
# Create a list by taking user input
# Write a program to create student list of n students
n = int(input('Enter number of students'))
i = 0
student = []
while i < n:
    SRN = int(input('Enter SRN'))
    name = int(input('Enter name'))
    CGPA = float(input('Enter CGPA'))
    student.append(SRN)
    student.append(name)
    student.append(CGPA)
    i += 1
print(student)

ValueError: invalid literal for int() with base 10: 'eee'

In [48]:
# functions on list
list1 = [28,45,67,8,92]
print(max(list1))
print(min(list1))
print(len(list1))
print(sum(list1))

92
8
5
240

In [49]:
# append, insert, pop, remove
# append is used to insert an element to the end of the list

lst4 = [34, 89, 5, 'Python']
lst4.append(56)
print(lst4)

lst5 = [12, [2, 3, 4], 67]
lst5[1].append('a')
print(lst5)

[34, 89, 5, 'Python', 56]
[12, [2, 3, 4, 'a'], 67]

In [53]:
# insert function insert an element at index position
# insert(index, val)

lst4 = [34, 89, 5, 'Python']
lst4.insert(2, 67)
print(lst4)

lst4.insert(5, 31)
print(lst4)

[34, 89, 67, 5, 'Python']
[34, 89, 67, 5, 'Python', 31]

In [54]:
# pop(index) it removes element at index
lst4.pop(2)
print(lst4)

# remove(val) removes val from list
lst4.remove(89)
print(lst4)

[34, 89, 5, 'Python', 31]
[34, 5, 'Python', 31]

In [56]:
# Concatenation + and repition * operator on list
l4 = [1, 2, 3]
l5 = ['a', 'b', 'c']
print(l4 + l5)
print(l4 * 2)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3]

In [58]:
# extend which add sequence at end
l4.extend([6, 7])
print(l4)

l4.append([6, 7])
print(l4)

# count(val)
lst6 = [20, 20, 67, 8]
print(lst6.count(20))
print(lst6.count(9))
print(l4.count(6))

[1, 2, 3, 6, 7, [6, 7], 6, 7]
[1, 2, 3, 6, 7, [6, 7], 6, 7, [6, 7]]
2
0
2